{% include 'imports.html' %}

<link rel="stylesheet" href="static/css/styleSheet.css" type="text/css">

<div class="'m-4">
    <div class="container">
        <br>
        <div class="row m-2">
            <div class="col text-center">
                <a href="/" style="color: inherit;"><h3>Garbage Mate</h3>
                <p>An Ai Solution to Waste Management</p></a>
            </div>
        </div>
        <hr>
        <div class="row m-2 ">
            <div class="col ">
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <h5>Our Vision</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <p>We aim to use a deep learning approach to waste management to help to eliminate waste around the world.<br>
                        We also aim to clear up any misunderstanding regarding the sorting of waste.</p>
                    </div>
                </div>
            </div>
            <div class="col d-flex justify-content-center">
                <div class="col ">
                    <div class="row">
                        <div class="col d-flex justify-content-center">
                            <h5>How To Use</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col d-flex justify-content-center">
                            <p>There are three ways to use our model:<br>
                                - Uploading a Photo (Acts as a taking a picture on mobile)<br>
                                - Taking a Photo (Using a webcam) <br>
                                - Live Video Detection (PC only)
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row m-2 ">
            <div class="col d-flex justify-content-center">
                <a href="./upload-photo"><button class="btn btn-primary" id="photoBtn">Upload Photo</button></a>
            </div>
            <div class="col d-flex justify-content-center">
                <a href="./take-photo"><button class="btn btn-primary" id="videoBtn">Take Photo (PC)</button></a>
            </div>
            <div class="col d-flex justify-content-center">
                <a href="./video-stream"><button class="btn btn-primary" id="videoBtn">Live Video</button></a>
            </div>
        </div>
    </div>
</div>
