{% include 'imports.html' %}

<style>
    #videoElement {
        background-color: #666;
    }
</style>

<div class="m-4">
    <div class="container">
        <div>
            <video autoplay="true" id="videoElement"></video>
        </div>
        <button class="btn btn-primary" id="takePicture">Go</button>
        <img id="photo" />
        <canvas id="canvas" hidden> </canvas>
    </div>
</div>

<script>
    var video = document.querySelector("#videoElement");

    if (navigator.mediaDevices.getUserMedia) {
    navigator.mediaDevices.getUserMedia({ video: true })
        .then(function (stream) {
        video.srcObject = stream;
        })
        .catch(function (err0r) {
        console.log("Something went wrong!");
        });
    }

    $('#takePicture').click(function(){
        let canvas = $('#canvas')[0];
        let context = canvas.getContext('2d');
        let video = $('#videoElement')[0];

        canvas.width = video.offsetWidth;
        canvas.height = video.offsetHeight;
        context.drawImage(video, 0,0,video.offsetWidth,video.offsetHeight)

        console.log(canvas)
        const picture = canvas.toDataURL('image/png')
        photo.setAttribute("src", picture);
        console.log(picture)

        $.ajax({
            url: "/save-photo",
            methods: 
        })
    });
</script>
